.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background-color:#111;
}

.navbar h1{
  color:red;
}

.navbar ul{
  display:flex;
  gap:20px;
  list-style:none;
}